*.cache
*.dll
*.exe
*.pdb
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml
Version.cs
Version.h
Version.cpp
Example/CatalogueCount/obj/Debug/CatalogueCount.csprojResolveAssemblyReference.cache
Example/CatalogueCount/obj/Debug/CatalogueCount.csproj.FileListAbsolute.txt
Example/Example2/obj/Debug/Example2.pdb
Example/Example2/obj/Debug/Example2.exe
Example/Example2/obj/Debug/Example2.csprojResolveAssemblyReference.cache
Example/ElasticSearchExample/bin/Debug/ElasticSearchExample.pdb
Example/CatalogueCount/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Example/CatalogueCount/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Example/CatalogueCount/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Example/Example2/bin/Debug/ElasticSearchExample.pdb
Example/Example2/bin/Debug/ElasticSearchExample.dll
Example/Example/obj/Debug/Example.pdb
Example/Example/obj/Debug/Example.exe
Example/Example/obj/Debug/Example.csprojResolveAssemblyReference.cache
Example/Example/obj/Debug/Example.csproj.FileListAbsolute.txt
Example/Example/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Example/Example/bin/Debug/Example.pdb
Example/Example/bin/Debug/Example.exe
Example/ElasticSearchExample/obj/Debug/ElasticSearchExample.pdb
Example/ElasticSearchExample/obj/Debug/ElasticSearchExample.dll
Example/ElasticSearchExample/obj/Debug/ElasticSearchExample.csprojResolveAssemblyReference.cache
Example/CatalogueCount/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Example/CatalogueCount/obj/Debug/CatalogueCount.pdb
Example/CatalogueCount/obj/Debug/CatalogueCount.exe
Example/Example2/obj/Debug/Example2.csproj.FileListAbsolute.txt
Example/Example2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Example/Example2/bin/Debug/Example2.pdb
Example/Example2/bin/Debug/Example2.exe
Example/ElasticSearchExample/obj/Debug/ElasticSearchExample.csproj.FileListAbsolute.txt
Example/ElasticSearchExample/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
